.shortly-main {
    margin: 40px 200px;
    position: relative;

}
#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

}
nav ul {
    padding: 2px 10px;
    display: flex;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 12px;
    overflow: hidden;
    margin: 0;
    color: hsl(0, 0%, 75%);
    font-weight: bold;
    transition: all .2s;
}

nav ul li:hover{
color: rgb(29, 29, 29);
cursor: pointer;
}

nav ul li:nth-last-child(2){
    padding-left: 550px !important;

}

nav ul li:last-child{
    border-radius: 50px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 6px 14px;
    transition: all .2s ease-in-out;
}

nav ul li:last-child:hover{
    opacity: 0.7;
}
.header-info{
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    justify-content: center;
    align-items: center;
}

.header-text{
    padding: 10px;
    width: 100%;

}

.header-text h1{
    font-family: inherit;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
    font-style: inherit;
}


.header-text p {
    color:  hsl(257, 7%, 63%);
    margin-bottom: 10%;
}

.header-text button{
    border-radius: 50px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 14px 20px;
    transition: all .2s ease-in-out;
}
.header-text button:hover{
    opacity: 0.7;
}

.shortly-half{
background:#eff1f7;
   width: 100%;
   padding: 0 13%;
   margin-top: 10%;
   height: 100vh;
}

.overlap-div {
    width: 70%;
    height: 150px;
    border-radius: 5px;
    padding: 50px;
    background-color: hsl(257, 27%, 26%);
    background-image: url('/assets/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5%;
    position: absolute;


}
.input-search{
    display: flex;
    padding: 0 12px;
}

.input-search input{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    padding: 18px;
    transition: all .2s ease-in-out;
}

.input-search button{
    width: 15%;
    border-radius: 5px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    padding: 14px 30px;
    transition: all .2s ease-in-out;
    margin-left: 3%;
}